<layout name="common" />
<div class="main-div">
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">角色名称：</td>
                <td>
                    <input  type="text" name="role_name" value="" />
                </td>
            </tr>
            <tr>
                <td class="label">权限列表：</td>
                <td>
                    <?php foreach($priData as $k => $v ):?>
                      <?php echo str_repeat('-',$v['level']*8);?>
                    <input onclick="addjs(event)"  level_id="<?php echo $v['level'];?>" type="checkbox" name='pri_id[]' value="<?php echo $v['id'];?>" /><?php echo $v['pri_name'] ;?><br />
                    <?php endforeach; ?>
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " /
                </td>
            </tr>
        </table>
    </form>
</div>
<script type='text/javascript'>
// 为所有的复选框绑定一个点击事件
function addjs(evt){
    var tmp_level_id=level_id = $(evt.target).attr('level_id'); 
    if( !$(evt.target).attr('checked')==''){
        $(evt.target).nextAll(':checkbox').each(function(k,v){
             var lev_id = $(v).attr('level_id');
             if( lev_id >level_id ){

               $(v).attr('checked','checked');
            }else{
                return false;
            }
   
       });
        $(evt.target).prevAll(':checkbox').each(function(k,v){
             var lev_id = $(v).attr('level_id');
            
             if( lev_id < level_id ){
                 $(v).attr('checked','checked');
             }
             level_id--;
       });
       
    }else{
        $(evt.target).nextAll(':checkbox').each(function(k,v){
             var lev_id = $(v).attr('level_id')
             if( lev_id >level_id ){
             
               $(v).attr('checked','');
            }else{
                return false;
            }

       });  
    }
}
</script>

<script type="text/javascript" src="__PUBLIC__/umeditor1_2_2-utf8-php/third-party/jquery-1.4.4.js"></script>












