<layout name="common/layout" />

<link rel="stylesheet" href="__PUBLIC__/Home/style/common.css" type="text/css">
<link rel="stylesheet" href="__PUBLIC__/Home/style/list.css" type="text/css">
<script type="text/javascript" src="__PUBLIC__/Home/js/list.js"></script>
	
<include file="common/nav"/>

	<div style="clear:both;"></div>

	<!-- 列表主体 start -->
	<div class="list w1210 bc mt10">
		<!-- 面包屑导航 start -->
		<div class="breadcrumb">
			<h2>当前位置：<a href="">首页</a> > <a href="">电脑、办公</a></h2>
		</div>
		<!-- 面包屑导航 end -->

		<!-- 左侧内容 start -->
		<div class="list_left fl mt10">
			<!-- 分类列表 start -->
			<div class="catlist">
				<h2>电脑、办公</h2>
				<div class="catlist_wrap">
					<div class="child">
						<h3 class="on"><b></b>电脑整机</h3>
						<ul>
							<li><a href="">笔记本</a></li>
							<li><a href="">超极本</a></li>
							<li><a href="">平板电脑</a></li>
						</ul>
					</div>

					<div class="child">
						<h3><b></b>电脑配件</h3>
						<ul class="none">
							<li><a href="">CPU</a></li>
							<li><a href="">主板</a></li>
							<li><a href="">显卡</a></li>
						</ul>
					</div>

					<div class="child">
						<h3><b></b>办公打印</h3>
						<ul class="none">
							<li><a href="">打印机</a></li>
							<li><a href="">一体机</a></li>
							<li><a href="">投影机</a></li>
							</li>
						</ul>
					</div>

					<div class="child">
						<h3><b></b>网络产品</h3>
						<ul class="none">
							<li><a href="">路由器</a></li>
							<li><a href="">网卡</a></li>
							<li><a href="">交换机</a></li>
							</li>
						</ul>
					</div>

					<div class="child">
						<h3><b></b>外设产品</h3>
						<ul class="none">
							<li><a href="">鼠标</a></li>
							<li><a href="">键盘</a></li>
							<li><a href="">U盘</a></li>
						</ul>
					</div>
				</div>
				
				<div style="clear:both; height:1px;"></div>
			</div>
			<!-- 分类列表 end -->
				
			<div style="clear:both;"></div>	

			<!-- 新品推荐 start -->
			<div class="newgoods leftbar mt10">
				<h2><strong>新品推荐</strong></h2>
				<div class="leftbar_wrap">
					<ul>
						<li>
							<dl>
								<dt><a href=""><img src="__PUBLIC__/Home/images/list_hot1.jpg" alt="" /></a></dt>
								<dd><a href="">美即流金丝语悦白美颜新年装4送3</a></dd>
								<dd><strong>￥777.50</strong></dd>
							</dl>
						</li>

						<li>
							<dl>
								<dt><a href=""><img src="__PUBLIC__/Home/images/list_hot2.jpg" alt="" /></a></dt>
								<dd><a href="">领券满399减50 金斯利安多维片</a></dd>
								<dd><strong>￥239.00</strong></dd>
							</dl>
						</li>

						<li class="last">
							<dl>
								<dt><a href=""><img src="__PUBLIC__/Home/images/list_hot3.jpg" alt="" /></a></dt>
								<dd><a href="">皮尔卡丹pierrecardin 男士长...</a></dd>
								<dd><strong>￥1240.50</strong></dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>
			<!-- 新品推荐 end -->

			<!--热销排行 start -->
			<div class="hotgoods leftbar mt10">
				<h2><strong>热销排行榜</strong></h2>
				<div class="leftbar_wrap">
					<ul>
						<li></li>
					</ul>
				</div>
			</div>
			<!--热销排行 end -->

			<!-- 最近浏览 start -->
			<div class="viewd leftbar mt10">
				<h2><a href="">清空</a><strong>最近浏览过的商品</strong></h2>
				<div class="leftbar_wrap">
					<dl>
						<dt><a href=""><img src="__PUBLIC__/Home/images/hpG4.jpg" alt="" /></a></dt>
						<dd><a href="">惠普G4-1332TX 14英寸笔记...</a></dd>
					</dl>

					<dl class="last">
						<dt><a href=""><img src="__PUBLIC__/Home/images/crazy4.jpg" alt="" /></a></dt>
						<dd><a href="">直降200元！TCL正1.5匹空调</a></dd>
					</dl>
				</div>
			</div>
			<!-- 最近浏览 end -->
		</div>
		<!-- 左侧内容 end -->
	
		<!-- 列表内容 start -->
		<div class="list_bd fl ml10 mt10">
			<!-- 热卖、促销 start -->
			<div class="list_top">
				<!-- 热卖推荐 start -->
				<div class="hotsale fl">
					<h2><strong><span class="none">热卖推荐</span></strong></h2>
					<ul>
						<li>
							<dl>
								<dt><a href=""><img src="__PUBLIC__/Home/images/hpG4.jpg" alt="" /></a></dt>
								<dd class="name"><a href="">惠普G4-1332TX 14英寸笔记本电脑 （i5-2450M 2G 5</a></dd>
								<dd class="price">特价：<strong>￥2999.00</strong></dd>
								<dd class="buy"><span>立即抢购</span></dd>
							</dl>
						</li>

						<li>
							<dl>
								<dt><a href=""><img src="__PUBLIC__/Home/images/list_hot3.jpg" alt="" /></a></dt>
								<dd class="name"><a href="">ThinkPad E42014英寸笔记本电脑</a></dd>
								<dd class="price">特价：<strong>￥4199.00</strong></dd>
								<dd class="buy"><span>立即抢购</span></dd>
							</dl>
						</li>

						<li>
							<dl>
								<dt><a href=""><img src="__PUBLIC__/Home/images/acer4739.jpg" alt="" /></a></dt>
								<dd class="name"><a href="">宏碁AS4739-382G32Mnkk 14英寸笔记本电脑</a></dd>
								<dd class="price">特价：<strong>￥2799.00</strong></dd>
								<dd class="buy"><span>立即抢购</span></dd>
							</dl>
						</li>
					</ul>
				</div>
				<!-- 热卖推荐 end -->

				<!-- 促销活动 start -->
				<div class="promote fl">
					<h2><strong><span class="none">促销活动</span></strong></h2>
					<ul>
						<li><b>.</b><a href="">DIY装机之向雷锋同志学习！</a></li>
						<li><b>.</b><a href="">京东宏碁联合促销送好礼！</a></li>
						<li><b>.</b><a href="">台式机笔记本三月巨惠！</a></li>
						<li><b>.</b><a href="">富勒A53g智能人手识别鼠标</a></li>
						<li><b>.</b><a href="">希捷硬盘白色情人节专场</a></li>
					</ul>

				</div>
				<!-- 促销活动 end -->
			</div>
			<!-- 热卖、促销 end -->
			
			<div style="clear:both;"></div>
                        <style>
                            #search_condition span{border:4px dashed yellow;border-style:outset;padding:2px;font-weight:bolder;margin:8px;margin-bottom: 10px;}
                            #search_condition{margin:5px;margin:10px;height:80px;}
                             #search_condition p {font-size:16px;font-weight: bold;margin-bottom: 25px;}
                            #search_condition a:hover{color:red;}
                        </style>
                        <div style='padding:5px;background-color:lightgrey;<?php if(count(I("get.")) == 1){echo "display:none;";}?>' id='search_condition' >
                            <p >当前筛选条件：</p>
                             <div >
                                 
                                    <!------品牌------>
                                    <?php 
                                      $brand_id = I('get.brand_id');
                                      if($brand_id):
                                       $brand_name =ltrim(strstr($brand_id,'-'),'-');
                                    ?>
                                     <span >品牌：<?php echo $brand_name?>--<a href="<?php getNewUrl('brand_id');?>" title='去除该条件'>删除</a></span>


                                    <!--------价格-------->
                                    <?php endif;?>
                                     <?php 
                                      $price = I('get.price');
                                      if($price):
                                    ?>
                                    <span >价格：<?php echo $price;?>--<a href="<?php getNewUrl('price');?>" title='去除该条件'>删除</a></span>
                                    <?php endif;?>
                                    
                                    <!------属性------>
                                    <?php foreach(I('get.') as $k => $v):
                                       $weizhi = strpos($k,'_');
                                        if($weizhi == 4):
                                          $rel = explode('_',$v);
                                    ?>
                                         <span ><?php echo $rel[0];?>：<?php echo $rel[1];?>--<a href="<?php getNewUrl($k);?>" title='去除该条件'>删除</a></span>
                                    <?php endif;endforeach;?>
                            </div>
                        </div>
			<!-- 商品筛选 start -->
			<div class="filter mt10">
				<h2><a href="__ACTION__">重置筛选条件</a> <strong>商品筛选</strong></h2>
				<div class="filter_wrap">
					<dl>
						<dt>品牌：</dt>
                                                <dd class="cur"><a href="<?php getNewUrl('brand_id');?>">不限</a></dd>
                                                <?php foreach($data['brand'] as $k => $v):
                                                 $brand_name = 'brand_id/'.$v['id'].'-'. $v['brand_name'];
                                                 $brand_id = I('get.brand_id');
                                                 if($brand_id){
                                                      break;
                                                 }
                                                ?>
                                                <dd><a href="__SELF__/<?php echo $brand_name;?>"><?php echo $v['brand_name'];?></a></dd>
						<?php endforeach;?>
					</dl>

					<dl>
						<dt>价格：</dt>
						<dd class="cur"><a href="<?php getNewUrl('price');?>">不限</a></dd>
                                                <?php foreach($data['price'] as $k => $v):
                                                 $price_name = 'price/'.$v;
                                                 $price = I('get.price');
                                                 if($price){
                                                      break;
                                                 }                                              
                                                ?>
						<dd><a href="__SELF__/<?php echo $price_name;?>"><?php echo $v;?></a></dd>
						<?php endforeach;?>
					</dl>
                                        <!-------属性筛选------>
                                       <?php foreach($data['attr'] as $k => $v):?>
					<dl>    
                                         
						<dt><?php echo $k;?>：</dt>   
                                                
                                                            <?php foreach($v as $k1 => $v1):
                                                               $get_name = 'attr_'.$v1['attr_id'];
                                                               if($k1>0){
                                                                 break;
                                                               }
                                                            ?>
                                                            <dd class="cur"><a href="<?php getNewUrl($get_name);?>">不限</a></dd>
                                                            <?php endforeach;?>
                                                 
                                                <?php foreach($v as $k1 => $v1):
                                                $attr_name = 'attr_'.$v1['attr_id'];
                                                
                                                if(I("get.$attr_name")){
                                                   continue;
                                                }
                                                
                                                ?>
                                                <dd><a href="__SELF__/<?php echo 'attr_'.$v1['attr_id'].'/'.$k.'_'.$v1['attr_value'];?>"><?php echo $v1['attr_value'];?></a></dd>
						<?php endforeach;?>
                                          
					</dl>
                                        <?php endforeach;?>
				</div>
			</div>
			<!-- 商品筛选 end -->
			
			<div style="clear:both;"></div>

			<!-- 排序 start -->
			<div class="sort mt10">
				<dl>
                                    <?php 
                                      $odby = I('get.odby','xiao_liang');
                                    
                                    ?>
					<dt>排序：</dt>
                                        <dd <?php if($odby=='xiao_liang'){echo 'class="cur"';}?> ><a href="<?php getNewUrl('odby');?>/odby/xiao_liang">销量</a></dd>
                                        <dd <?php if(strpos($odby,'price_')===0){echo 'class="cur"';}?> ><a href="<?php getNewUrl('odby');?>/odby/<?php if($odby=='price_desc'){echo 'price_asc';}else{ echo 'price_desc';}?>">
                                                <?php if( strpos($odby,'price_')!==0 ){ echo '价格';}elseif($odby == 'price_asc'){echo '价格↑';}else{ echo '价格↓';}?>
                                             </a></dd>
					<!---<dd><a href="<?php getNewUrl('odby');?>/odby/xiao_liang">评论数</a></dd>--->
					<dd <?php if($odby=='addtime'){echo 'class="cur"';}?> ><a href="<?php getNewUrl('odby');?>/odby/addtime">上架时间</a></dd>
				</dl>
			</div>
			<!-- 排序 end -->
			
			<div style="clear:both;"></div>

			<!-- 商品列表 start-->
			<div class="goodslist mt10">
				<ul>
                                    <?php foreach($goods_data as $k => $v):?>
					<li>
						<dl>
                                                    <dt><a href="<?php echo U('Index/goods?id='.$v['id']);?>"><?php showImage($v['mid_logo']);?></a></dt>
							<dd><a href=""><?php echo $v['goods_name'];?></a></dt>
							<dd><strong>￥<?php echo $v['shop_price'];?></strong></dt>
							<dd><a href=""><em>已有10人评价</em>&nbsp;<em>已有<?php if($v['xiao_liang']){ echo $v['xiao_liang'];}else{echo '0';}?>人购买</em></a></dt>
						</dl>
					</li>
                                    <?php endforeach;?>
			</div>
			<!-- 商品列表 end-->

			<!-- 分页信息 start -->
			<div class="page mt20">
                              <?php echo $page;?>
			</div>
			<!-- 分页信息 end -->

		</div>
		<!-- 列表内容 end -->
	</div>
	<!-- 列表主体 end-->

<include file="common/help"/>